
/* Style général du body : fond noir, texte blanc 
texte couleur blanc et ajout de la police dans 
tout le corp du projet
*/
#body {
    background-color: black;
    color: white;
    font-family: 'Roboto', cursive !important;
    font-size: 1.3rem !important;
}

/* Style pour les titres modifier */
h1 {
    font-weight: bold !important;
    font-size: 4rem !important;
    padding: 20px;
}

.logo {
    width: 80px;
}

/* Définition d'une taille pour mes cartes,
modification du curseur pour l'UX */
.cardStyle {
    width: 17rem;
    height: auto;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.2s ease;
}

.carouselEnTete {
    width: 10rem;
    max-height: 400px; 
}

.carouselImgEnTete {
    height: 20rem;
    width: auto;
    object-fit: cover;
}

.carouselStyle {
    max-width: 100vw;
}

.search {
    cursor: pointer;
}

/* position sticky, toujours en haut, 
index de 1000 pour être au-dessus 
des autres éléments */
.navbar-container {
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* ---------------------------------- */

/* Style pour les cartes au survol (
zoom) et ajout de padding */
.cardStyle:hover {
    transform: scale(1.02);
    padding: 10px;
}





